@charset "UTF-8";
.c-c-white {color: #fff !important;}
.c-bg-white {background-color: #fff !important;}
.c-c-black {color: #000 !important;}
.c-bg-black {background-color: #000 !important;}
.c-c-mint {color: #58D6BF !important;}
.c-bg-mint {background-color: #58D6BF !important;}
.c-c-dark {color: #666 !important;}
.c-bg-dark {background-color: #666 !important;}
