*{margin: 0; padding: 0;}
a{text-decoration: none;}
ul{list-style: none;}

.container{width: 800px; margin: 0 auto;}

.contents{width: 100%; height: 800px; margin-top: 50px;}
.tabMenu{width: 600px; height: 100%;}
.tabMenu input[type="radio"]{display: none;}
.tabMenu label{display: inline-block; margin: 0; padding: 15px 25px; text-align: center; color: #aaa;}
.tabMenu label:hover{color: #222; cursor: pointer;}
.tabMenu input:checked + label{color: red; border: 1px solid #ddd; background-color: #eee;}
.tabMenu .tabContent{display: none;}
.tabMenu .label{display: none;}
.tabMenu #tab1:checked ~ .c2{display: block;}
.tabMenu #tab1:checked ~ #notice{display: block;}
.tabMenu #tab1:checked ~ .c1{display: block;}
.tabMenu #tab2:checked ~ #gallery{display: block;}
