*{margin: 0; padding: 0;}
body{height: 100%;}
html{height: 100%;}

ul li{list-style: none;}
a{
    color: #000;
    font-size: 12px;
    text-decoration: none;
    line-height: 20px;
}
#select{
    width: 200px;
    position: absolute;
    right: 0; bottom: 0;
    background: #fff;
}
#select a{display: block; height: 20px;}
#select #title{border: 1px solid #ccc;}
#select #title a{
    background: url(../images/icon.gif) no-repeat ;
    background-position: 100% -20px;
    /* transform: rotate(180deg); */
}
#select #title a.on{
    background-position: 100% 0;
}
#select #list{
    width: 200px;
    border: 1px solid #ccc;
    position: absolute;
    left: 0; top: -94px;
    background: #fff;
    box-sizing: border-box;
    display: none;
}
#select #list.on{display: block;}
#select #list a{
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}
#select #list a:hover, #select #list a:focus{
    background: #f60;
    color: #fff;
}
#select #list a:active{
    background: #fff;
    color: #000;
}


#con{
    height: 100%;
    background: #eee;
}