.m00{margin: 0;}
.m01{margin: 1%;}
.m02{margin: 2%;}
.m03{margin: 3%;}
.m04{margin: 4%;}
.m05{margin: 5%;}
.m06{margin: 6%;}
.m07{margin: 7%;}
.m08{margin: 8%;}
.m09{margin: 9%;}
.m010{margin: 10%;}
.m10{margin-top: 0;}
.m11{margin-top: 1%;}
.m12{margin-top: 2%;}
.m13{margin-top: 3%;}
.m14{margin-top: 4%;}
.m15{margin-top: 5%;}
.m16{margin-top: 6%;}
.m17{margin-top: 7%;}
.m18{margin-top: 8%;}
.m19{margin-top: 9%;}
.m110{margin-top: 10%;}
.m20{margin-right: 0;}
.m21{margin-right: 1%;}
.m22{margin-right: 2%;}
.m23{margin-right: 3%;}
.m24{margin-right: 4%;}
.m25{margin-right: 5%;}
.m26{margin-right: 6%;}
.m27{margin-right: 7%;}
.m28{margin-right: 8%;}
.m29{margin-right: 9%;}
.m210{margin-right: 10%;}
.m30{margin-bottom: 0;}
.m31{margin-bottom: 1%;}
.m32{margin-bottom: 2%;}
.m33{margin-bottom: 3%;}
.m34{margin-bottom: 4%;}
.m35{margin-bottom: 5%;}
.m36{margin-bottom: 6%;}
.m37{margin-bottom: 7%;}
.m38{margin-bottom: 8%;}
.m39{margin-bottom: 9%;}
.m310{margin-bottom: 10%;}
.m40{margin-left: 0;}
.m41{margin-left: 1%;}
.m42{margin-left: 2%;}
.m43{margin-left: 3%;}
.m44{margin-left: 4%;}
.m45{margin-left: 5%;}
.m46{margin-left: 6%;}
.m47{margin-left: 7%;}
.m48{margin-left: 8%;}
.m49{margin-left: 9%;}
.m410{margin-left: 10%;}
.p00{padding: 0;}
.p01{padding: 1%;}
.p02{padding: 2%;}
.p03{padding: 3%;}
.p04{padding: 4%;}
.p05{padding: 5%;}
.p06{padding: 6%;}
.p07{padding: 7%;}
.p08{padding: 8%;}
.p09{padding: 9%;}
.p010{padding: 10%;}
.p10{padding-top: 0;}
.p11{padding-top: 1%;}
.p12{padding-top: 2%;}
.p13{padding-top: 3%;}
.p14{padding-top: 4%;}
.p15{padding-top: 5%;}
.p16{padding-top: 6%;}
.p17{padding-top: 7%;}
.p18{padding-top: 8%;}
.p19{padding-top: 9%;}
.p110{padding-top: 10%;}
.p20{padding-right: 0;}
.p21{padding-right: 1%;}
.p22{padding-right: 2%;}
.p23{padding-right: 3%;}
.p24{padding-right: 4%;}
.p25{padding-right: 5%;}
.p26{padding-right: 6%;}
.p27{padding-right: 7%;}
.p28{padding-right: 8%;}
.p29{padding-right: 9%;}
.p210{padding-right: 10%;}
.p30{padding-bottom: 0;}
.p31{padding-bottom: 1%;}
.p32{padding-bottom: 2%;}
.p33{padding-bottom: 3%;}
.p34{padding-bottom: 4%;}
.p35{padding-bottom: 5%;}
.p36{padding-bottom: 6%;}
.p37{padding-bottom: 7%;}
.p38{padding-bottom: 8%;}
.p39{padding-bottom: 9%;}
.p310{padding-bottom: 10%;}
.p40{padding-left: 0;}
.p41{padding-left: 1%;}
.p42{padding-left: 2%;}
.p43{padding-left: 3%;}
.p44{padding-left: 4%;}
.p45{padding-left: 5%;}
.p46{padding-left: 6%;}
.p47{padding-left: 7%;}
.p48{padding-left: 8%;}
.p49{padding-left: 9%;}
.p410{padding-left: 10%;}