div{
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
}
td{
    border: 2px solid #ccc;
    border-collapse: collapse;
    padding: 10px;
}
.pic1{
    background: url(../../images/bg5.jpg) no-repeat center center;
    /* 원래 크기 */
}
.pic2{
    background: url(../../images/bg5.jpg) no-repeat center center;
    background-size: cover;
    /* 이미지가 요소를 꽉 채우고 나머지는 잘림 */
}
.pic3{
    background: url(../../images/bg5.jpg) no-repeat center center;
    background-size: contain;
    /* 이미지가 비율을 유지하고 요소 크기에 맞춰짐 */
}
.pic4{
    background: url(../../images/bg5.jpg) no-repeat center center;
    background-size: 200px;
    /* 가로 길이를 200px로 설정 */
}
.pic5{
    background: url(../../images/bg5.jpg) no-repeat bottom right;
    background-size: 80%;
    /* div 박스 크기의 80% */
}
.pic6{
    background: url(../../images/bg5.jpg) no-repeat;
    background-size: 200px;
    background-position: right 20px bottom 20px;
    /* 어디로부터 어느 정도의 거리를 띄울지 결정 */
}
.pic7{
    background: url(../../images/bg5.jpg) no-repeat;
    background-size: auto;
}