<html xmlns:th="http://www.thymeleaf.org"></html>
<meta charset="utf-8">
<div th:fragment="menu">
	<th:block th:if="${session['member'].name ne null}">
		<div class="text-center">
			<h4><span th:text="${session['member'].name}"></span>님 환영합니다.</h4>
		</div>
	</th:block>
	<div class="row">
		<div class="col-12 col-md-6 pe-md-0">
			<hr>
			<div class="row justify-content-center px-2">
				<th:block th:switch="${session['member'].role}">
					<th:block th:case="null">
						<div class="col-auto p-1">
							<a href="/" class="text-decoration-none" tabindex="-1">
								<input type="button" value="메인" class="btn btn-secondary"></a>
						</div>
						<div class="col-auto p-1">
							<a href="/boardList" class="text-decoration-none" tabindex="-1">
								<input type="button" value="글 목록" class="btn btn-secondary"></a>
						</div>
						<div class="col-auto p-1">
							<a href="/login" class="text-decoration-none" tabindex="-1">
								<input type="button" value="로그인" class="btn btn-primary"></a>
						</div>
						<div class="col-auto p-1">
							<a href="/signUp" class="text-decoration-none" tabindex="-1">
								<input type="button" value="회원가입" class="btn btn-success "></a>
						</div>
					</th:block>
					
					<th:block th:case="ROLE_USER">
						<div class="col-auto p-1">
							<a href="/" class="text-decoration-none" tabindex="-1">
								<input type="button" value="메인" class="btn btn-secondary"></a>
						</div>
						<div class="col-auto p-1">
							<a href="/boardList" class="text-decoration-none" tabindex="-1">
								<input type="button" value="글 목록" class="btn btn-secondary"></a>
						</div>
						<div class="col-auto p-1">
							<a href="/memberView" class="text-decoration-none" tabindex="-1">
								<input type="button" value="회원정보" class="btn btn-success "></a>
						</div>
						<div class="col-auto p-1">
							<a href="/logout" class="text-decoration-none" tabindex="-1">
								<input type="button" value="로그아웃" class="btn btn-warning"></a>
						</div>
					</th:block>
					
					<th:block th:case="ROLE_ADMIN">
						<div class="col-auto p-1">
							<a href="/" class="text-decoration-none" tabindex="-1">
								<input type="button" value="메인" class="btn btn-secondary"></a>
						</div>
						<div class="col-auto p-1">
							<a href="/boardList" class="text-decoration-none" tabindex="-1">
								<input type="button" value="글 목록" class="btn btn-secondary"></a>
						</div>
						<div class="col-auto p-1">
							<a href="/memberList" class="text-decoration-none" tabindex="-1">
								<input type="button" value="회원조회" class="btn btn-secondary "></a>
						</div>
						<div class="col-auto p-1">
							<a href="/memberView" class="text-decoration-none" tabindex="-1">
								<input type="button" value="회원정보" class="btn btn-success"></a>
						</div>
						<div class="col-auto p-1">
							<a href="/logout" class="text-decoration-none" tabindex="-1">
								<input type="button" value="로그아웃" class="btn btn-warning"></a>
						</div>
					</th:block>
				</th:block>
				<!-- <a href="/" class="text-decoration-none" tabindex="-1">
					<input type="button" value="메인" class="btn btn-secondary"></a>
				<a href="/boardList" class="text-decoration-none" tabindex="-1">
					<input type="button" value="글 목록" class="btn btn-secondary"></a>
				<a th:if="${session['member'].id} eq null" href="/login" class="text-decoration-none" tabindex="-1">
					<input type="button" value="로그인" class="btn btn-primary"></a>
				<a th:unless="${session['member'].id} eq null" href="/logout" class="text-decoration-none" tabindex="-1">
					<input type="button" value="로그아웃" class="btn btn-warning"></a> -->
			</div>
		</div>
		<div class="col-12 col-md-6 ps-md-0">
			<hr>
			<div>
				<div class="row justify-content-center">
					<div class="col-9 my-1">
						<input class="form-control"> 
					</div>
					<div class="col-auto my-1">
						<input type="button" value="검색" class="col-12 btn btn-primary">
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
</div>