<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>테스트 페이지</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
	<div class="container-md pt-5">
		<h2 class="text-center">테스트 페이지</h2>
		<hr>
		<div class="row justify-content-center">
			<div class="col-12 col-md-11 col-xl-10">
				<div th:replace="fragments/menu :: menu"></div>
				<div class="text-center">
					<a href="/boardError" class="text-decoration-none">
						<input type="button" value="BoardException 발생" class="btn btn-danger">
					</a>
					<a href="/illegalArgumentError" class="text-decoration-none">
						<input type="button" value="illegalArgumentException 발생" class="btn btn-danger">
					</a>
					<a href="/sqlError" class="text-decoration-none">
						<input type="button" value="SQLException 발생" class="btn btn-danger">
					</a>
				</div>
				<hr>
			</div>
		</div>
	</div> 
	<br>
</body>
</html>