*{margin: 0; padding: 0;box-sizing: border-box;}
#container{width: 700px; margin: 0 auto;}
nav{height: 60px; border: 2px solid #f00;}
#main-menu {height: 100%; vertical-align: middle;}
#main-menu, #sub-menu{list-style: none; text-align: center; border: 2px solid #0f0;}
#main-menu li{background-color: #ccf;}
#main-menu > li{ display: inline-block; border:2px solid #f00; padding: 5px 10px; height: 100%;}
#main-menu li > a{text-decoration: none; display: block; color: #00f;}
#sub-menu{display: block; position:absolute; top: 30px; font-size: 0px; }
#sub-menu li { display: block; border: 2px solid #f00; font-size: 0px; }

#main-menu li:hover #sub-menu{
    display: block;
    top:60px;
}
#main-menu li:hover #sub-menu li{
    padding: 5px 10px;
}