<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.cloud.mapper.ReplyMapper">
	<!-- 
	private int rno;
	private int bno;

	private String reply;
	private String replyer;
	private Date replyDate;
	private Date updateDate;
	 -->
	
	<select id="getReplyList" resultType="com.cloud.domain.ReplyVO">
		SELECT * FROM tbl_reply WHERE bno=#{bno} ORDER BY updatedate
	</select>

	<insert id="addReply">
		INSERT INTO tbl_reply(rno, bno, reply, replyer) 
		VALUES(seq_reply.NEXTVAL, #{bno}, #{reply}, #{replyer})
	</insert>

</mapper>