<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.cloud.mapper.UserMapper">
	<!-- 
	private String id;
	private String passwd;
	private String name;
	private String role;
	 -->
	<select id="checkUser" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM dual WHERE EXISTS( SELECT 1 FROM tbl_users WHERE id=#{id} AND passwd=#{passwd} )
	</select>
	
	<select id="getUser">
		SELECT * FROM tbl_users WHERE id=#{id} and passwd=#{passwd}
	</select>

	<insert id="addUser">
		INSERT INTO tbl_users(id, passwd, name, role) 
		VALUES(#{id}, #{passwd}, #{name}, 'User')
	</insert>

	<update id="updateUser">
		UPDATE tbl_users SET id=#{id}, passwd=#{passwd}, name=#{name} WHERE id=#{oldId}
	</update>

	<delete id="deleteUser">
		DELETE FROM tbl_users WHERE id=#{id}
	</delete>

</mapper>