<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	table {margin: 50px auto; border-collapse: collapse;}
	th, td {border: 1px solid #ccc; padding: 5px 10px; text-align: center;}
</style>
</head>
<body>
	<br>
	<h1 align="center">예제3 th:each 사용</h1>
	<hr>
	<table>
		<thead>
			<tr>
				<th>순번</th>
				<th>상품명</th>
				<th>가격</th>
				<th>상품 설명</th>
				<th>등록일</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="itemDto:${itemDtoList}" th:if="${itemDto.id} % 2 eq 0">
				<td th:text="${itemDto.id}"></td>
				<td th:text="${itemDto.itemNm}"></td>
				<td th:text="${itemDto.price}"></td>
				<td th:text="${itemDto.itemDetail}"></td>
				<!-- 기본 -->
				<!-- <td th:text="${itemDto.regDate}"></td> -->
				<!-- 포멧팅 -->
				<!-- <td th:text="${#temporals.format(itemDto.regDate, 'yyy-MM-dd HH:mm:ss')}"></td> -->
				<!-- 인라인 표기 -->
				<td>[[${#temporals.format(itemDto.regDate, 'yyy-MM-dd HH:mm:ss')}]]</td>
			</tr>
		</tbody>
	</table>
</body>
</html>