/* form 스타일 */
body{margin: 0; padding: 0; background: #666;}
#wrapper{width: 600px; margin: 0 auto; padding: 0;}
h2{margin: 0; padding: 20px; background: #fff; text-align: center;}
form{background: #0094ff; padding: 30px 30px; height: 30px;}
input{width: 60%; height: 100%; margin: 0; box-sizing: border-box; 
    border: 2px solid #669; border-radius: 5px; float: left;}
.btnAdd{width: 15%; height: 100%; box-sizing: border-box; padding: 0;  margin-left: 1%;
    border: 2px solid #aaa; border-radius: 5px; float: left;}
.btnClr{width: 17%; height: 100%; box-sizing: border-box; padding: 0;
    border: 2px solid #aaa; border-radius: 5px; float: right;}
.btnAdd:active{background: #999;}
.btnClr:active{background: #999;}
.btnClr::after{clear: both;}
#itemList{background: #eee; padding: 0;}
#itemList ol{margin: 0; padding: 0; list-style: none; line-height: 2;}
#itemList ol li{margin: 0; padding-left: 30px;}
#itemList ol li:nth-of-type(2n){background: #ccc;}
.close{float: right; padding: 0 10px 0 10px;}
.close:hover{background: rgba(255, 0 , 0, 0.3);}