@charset "UTF-8";
*{margin: 0; padding: 0;}
a{color: #66f; text-decoration: none}
.container{width: 100%; max-width: 1000px; margin: 0 auto;}

.main_menu{margin: 20px 0 10px 0;}
.main_menu ul{float: right;}
.main_menu li{list-style: none; float: left; margin: 5px 10px;}
.main_menu a{text-decoration: none; color: #333; padding: 7px 10px; border-top: 3px solid #333; font-size: small; background-color: #fff}
.main_menu a:hover{border-top: 3px solid #77f; box-shadow: 0 5px 3px -3px rgba(0,0,0,0.2);}
.main_menu:after{content:""; display: block; clear: both;}

.first_title{background-color: rgb(241, 250, 192); padding: 20px; margin-bottom: 20px}
.first_title h1{color: #777; text-align: center;}
.images img{margin: 20px auto; display: block;} 

table{border-collapse: collapse; box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2);}
.table_list{ width: 100%; max-width:800px; margin: 30px auto; }
.table_list th, td{border: 1px solid #aaa; padding: 10px; text-align: center;}
.table_list th{background-color: #eef;}

.table_input{border-collapse: collapse; width: 100%; max-width:500px; margin: 30px auto; box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2);}
.table_input td{border: 1px solid #aaa; padding: 10px; text-align: center;}
.table_input input {padding: 2px 4px;}
.table_input input[type="submit"], input[type="reset"], input[type="button"] {padding: 1px 6px;}

.write_form {width: 100%; max-width:800px; margin: 30px auto;}
.write_form div{margin: 10px 0; width: 100%; text-align: center;}
.write_form input[type="text"]{box-sizing: border-box; width: 100%; padding: 5px;}
.write_form .content{box-sizing: border-box; width: 100%; height: 500px; padding: 10px;}

.board_view table{width: 100%; max-width: 800px; margin: 0 auto;}
.board_view table colgroup col:first-child{background-color: #eee; width: 20%;}
.board_view table tr:last-child{background-color: #fff;}
.board_view table input[type="text"]{width: calc(100% - 20px);}
.board_view table textarea{width: calc(100% - 20px); height:500px; resize: none; padding: 5px;}


footer {margin: 100px 0 0 20px; color: #333;} 

