/* 모바일 기준 -780px 미만 */
*{ margin: 0; padding: 0; box-sizing: border-box;}
#container{ width: 100%; margin: 0 auto;}

/* header 영역 */
/* header{ width: 100%; height: 300px;} */
header{ width: 100%;}
/* nav{ width: 100%; height: 60px; background: #000;} */
nav{ width: 100%; padding: 0.5em 0; background: #000;}
#main-nav{ list-style: none; text-align: center;}
#main-nav li{ display: inline-block; margin: 15px 20px;}
#main-nav li a{ text-decoration: none; color: #fff; font-weight: bold;}
#main-pic img{ width: 100%; height: 240px; object-fit: cover;}

/* section 스타일 */
section{height: 350px; padding: 15px;}
/* section{padding: 15px; border: 1px solid #f00;} */
section:nth-of-type(2n){background-color: #ccc;}
section .page-title{margin-top: 30px;}
section .content{margin: 10px auto; padding: 10px;}
section .photo{display: none; }
section .photo img{ height: 220px; object-fit: cover;}
section p, section h2, section li{line-height: 2;}
#choice ol{padding-left: 30px;}

/* footer 스타일 */
/* footer{width: 100%; height:  200px; border-top: 2px solid #444;} */
footer{height:  200px; border-top: 2px solid #444;}
#bottomMenu{list-style: none; margin: 10px 10px 10px 40px;}
#bottomMenu li{display: inline-block; margin: 10px 0; padding: 0 15px 0 5px; border-right: 1px solid #444;}
#bottomMenu li:nth-last-child(1){border: none;}
#bottomMenu li a{text-decoration: none;}
address{padding-left: 50px; font-size: small; color: #444; line-height: 2;}

/* 태블릿 기준 */
@media screen and (min-width: 780px) {
    nav{padding: 1em 0;}
    #main-nav{text-align: right; padding-right: 15%;}
    /* section{width: 50%; float: left; height: 400px; border: 1px solid #eee;} */
    section{width: 50%; display: flex; float: left; height: 400px; border: 1px solid #eee;}
    #map{clear: both;}
}

/* pc 기준 */
@media screen and (min-width: 1200px) {
    #container{width: 1200px;}
    nav{padding: 1em 0;}
    #main-nav{text-align: right; padding-right: 15%;}
    section{width: 100%; height: 350px; border: none;}
    section .photo{display: block; margin: 0 20px; float: left; }
    section:nth-of-type(2n) .photo {float: right;}
    #map{clear: both;}
}