<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/layoutFull}">
	<meta charset="UTF-8">

	<th:block layout:fragment="headTitle">memberList</th:block>
	
	<th:block layout:fragment="mainTitle">
		<h2>회원 목록</h2>
	</th:block>
	
	<th:block layout:fragment="content">
		<th:block th:replace="~{fragments/memberList :: memberList(${memberPage})}"></th:block>
		<th:block th:replace="~{fragments/pagingButton :: pagingButton(${memberPage}, ${memberLink})}"></th:block>
	</th:block>

</html>