<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/layoutFull}">
	<meta charset="UTF-8">

	<th:block layout:fragment="headTitle">memberList</th:block>
	
	<th:block layout:fragment="mainTitle">
		<h2>회원 목록</h2>
	</th:block>
	
	<th:block layout:fragment="content">
		<div>
			<h4 class="text-center">회원 검색</h4>
		</div>
		<div>
			<form class="d-flex" role="search" th:action="@{/admin/searchMemberList}" method="get">
				<select class="form-select w-auto me-2" name="type">
					<option value="i">아이디</option>
					<option value="n">이름</option>
					<option value="r">권한</option>
					<option value="s">상태</option>
				</select>
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
		<th:block th:if="not ${search}">
			<th:block th:replace="~{fragments/memberList :: memberList(${memberPage})}"></th:block>
			<th:block th:replace="~{fragments/memberPagingButton :: pagingButton(${memberPage})}"></th:block>
		</th:block>
		<th:block th:unless="not ${search}">
			<th:block th:replace="~{fragments/memberList :: searchMemberList(${memberPage}, ${pageRequest})}"></th:block>
			<th:block th:replace="~{fragments/memberPagingButton :: searchPagingButton(${memberPage}, ${pageRequest})}"></th:block>
		</th:block>
	</th:block>
</html>