<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/layoutFull}">
	<meta charset="UTF-8">

	<th:block layout:fragment="headTitle">boardList</th:block>
	
	<th:block layout:fragment="mainTitle">
		<h2>게시글 목록</h2>
	</th:block>
	
	<th:block layout:fragment="content">
		<div>
			<a href="/board/writeBoard" class="col-2">
				<input type="button" class="btn btn-outline-primary" value="글쓰기"></a>
			
		</div>
		<hr>
		<div>
			<form class="d-flex" role="search" th:action="@{/board/searchBoardList}" method="get">
				<select class="form-select w-auto me-2" name="type">
					<option value="t">제목</option>
					<option value="c">내용</option>
					<option value="w">글쓴이</option>
				</select>
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
		<th:block th:if="not ${search}">
			<th:block th:replace="~{fragments/boardLinkList :: boardList(${boardPage})}"></th:block>
	
			<th:block th:replace="~{fragments/pagingButton :: pagingButton(${boardPage})}"></th:block>
		</th:block>
		<th:block th:unless="not ${search}">
			<th:block th:replace="~{fragments/boardLinkList  :: searchBoardList(${boardPage}, ${pageRequest})}"></th:block>
			
			<th:block th:replace="~{fragments/pagingButton :: searchPagingButton(${boardPage}, ${pageRequest})}"></th:block>
		</th:block>
	</th:block>
</html>