#container{width: 500px; margin: 0 auto;}
fieldset{ margin-bottom: 30px; border: 1px solid #ccc;}
ul li{list-style: none; margin: 20px;}
.field{
    width: 70px; height: 30px; 
    /* border: 1px solid #ccc; border-radius: 5px; */
     float: left; text-align: right; line-height: 2;
     margin-right: 10px;
}
.input-box{width: 250px; height: 30px; border: 1px solid #ccc; border-radius: 5px;}
.order{width: 100%; padding: 10px; font-size: 1em; border: 1px solid #ccc;}