<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/layoutFull}">
	<meta charset="UTF-8">

	<th:block layout:fragment="headTitle">boardList</th:block>
	
	<th:block layout:fragment="mainTitle">
		<h2>게시글 목록</h2>
	</th:block>
	
	<th:block layout:fragment="content">
		<div>
			<a href="/board/writeBoard">
				<input type="button" class="btn btn-outline-primary" value="글쓰기"></a>
		</div>
		<th:block th:replace="~{fragments/pageList :: pageList(${boardPage})}"></th:block>
		<th:block th:replace="~{fragments/pagingButton :: pagingButton(${boardPage}, ${boardLink})}"></th:block>
	</th:block>

</html>