<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/layoutFull}">
	<meta charset="UTF-8">

	<th:block layout:fragment="meta">
		<!-- <meta id="csrf_header" th:content="${_csrf.headerName}"/>
		<meta id="csrf_parameter" th:content="${_csrf.parameterName}"/>
		<meta id="csrf_token" th:content="${_csrf.token}"/> -->
	</th:block>

	<th:block layout:fragment="headTitle">board</th:block>
	
		<th:block layout:fragment="script">
		<script th:inline="javascript">
			function checkEnter(){
				
			}
				
			function ajaxUpdateBoard(){
				let seq = $("#seq");
				let seqV = seq.val();
				let title = $("#title");
				let titleV = title.val();
				let content = $("#content");
				let contentV = content.val();
				if(titleV===""){
					alert("제목을 입력해 주세요.");
					title.focus();
					return;
				}
				if(contentV===""){
					alert("내용을 입력해 주세요.");
					content.focus();
					return;
				}
				let csrfH = csrf_header.content;
				let csrfP = csrf_parameter.content;
				let csrfT = csrf_token.content;
				console.log("csrfH : "+csrfH);
				console.log("csrfP : "+csrfP);
				console.log("csrfT : "+csrfT);
				
				$.ajax({
					type:"post",
					url:"/ajax/updateBoard",
					dataType:"json",
					data:{
						"seq": seqV,
						"title": titleV,
						"content": contentV,
						csrfP: csrfT
					},
					beforeSend : function(xhr)
		            {   
						/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(csrfH, csrfT);
		            },
					success:function(data){
						console.log(data);
						if(data.result){
							alert("수정을 성공했습니다.");
							location.href="/board/getBoardList";
						}else{
							alert("수정을 실패하였습니다.");
						}
					},
					error:function(error){
						alert("다시 시도해 주세요.");
						console.error(error);
						console.error(error.responseText);
					}
				});
			};
			
			let page = 0;
			let maxPage = 0;
			
			function showReplies(){
				$("#showReply").addClass("d-none");
				$("#replyBox").removeClass("d-none");
				$("#moreReply").removeClass("d-none");
				getReply();
				
			}
			
			function moreReplies(){
				getReply();
				console.log(page);
				console.log(maxPage);
				console.log(page>=maxPage);
			}
			
			function getReply(){
				page++;
				$.getJSON( "/replies/board/[[${board.bno}]]?page="+page, function( data ) {
					console.log(data);
					let html="";
					maxPage = data.totalPage;
					if(page>=maxPage){
						$("#moreReply").addClass("d-none");
						$("#noneReply").removeClass("d-none");
						if($("#replyBox").html() === ""){
							$("#replyBox").addClass("d-none");
						}
					}
					data.dtoList.forEach( dto =>{
						console.log(dto);
						html+= createReply(dto);
					});
					$("#replyBox").html( $("#replyBox").html()+html);
				});
			}
			
			function createReply(dto){
				let html="";
				let regDate = new Date(dto.regDate).toLocaleString();
				let modDate = new Date(dto.modDate).toLocaleString();
				html+="<div class='form-control row d-flex mx-0 my-2'>";
				html+="<div class='col-6 col-md-4 col-lg-3'>"+dto.replyerName+"</div>";
				html+="<div class='col-6 col-md-8 col-lg-9 text-end'>"
				html+="<div>작성일: "+regDate+"</div>";
				if(regDate != modDate){
					html+="<div>수정일: "+modDate+"</div>";
				}
				html+="</div>";
				html+="<div class='col-12 mt-2'>"+dto.text+"</div>";
				html+="</div>";
				return html;
			}
		</script>
	</th:block>
	
	<th:block layout:fragment="mainTitle">
		<h2>게시글 상세 보기</h2>
	</th:block>
	
	<th:block layout:fragment="content">
		<div>
			<form th:action="@{/board/updateBoard}" method="post" class="px-3 py-2 form-control" >
				<!-- <input type="hidden" name="${_csrf.parameter}" value="${_csrf.value}">
				<input type="hidden" id="seq" name="seq" th:value="${ board.seq }"> -->
				<div class="row py-2">
					<div class="col-6 col-md-7 col-xl-8 text-center align-self-center">
						<span th:text="${ board.bno }"></span>번 글
					</div>
					<div class="col-6 col-md-5 col-xl-4 text-center">
						<!-- <div>
							조회수: <span th:text="${ board.cnt }"></span>
						</div> -->
						<div>
							작성일: <span th:text="${ #temporals.format(board.regDate, 'yyyy-MM-dd HH:mm:ss') }"></span>
						</div>
						<div>
							수정일: <span th:text="${ #temporals.format(board.modDate, 'yyyy-MM-dd HH:mm:ss') }"></span>
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col-12 col-md-3 col-xl-2 text-center">
						<label for="content" class="form-label p-2">제목</label>
					</div>
					<div class="col-12 col-md-9 col-xl-10">
						<input class="form-control" id="title" name="title" th:value="${ board.title }">
					</div>
				</div>
				<div class="row py-2">
					<div class="col-12 col-md-3 col-xl-2 text-center">
						<label for="content" class="form-label p-2">작성자</label>
					</div>
					<div class="col-12 col-md-9 col-xl-10">
						<input class="form-control" id="name" name="name" th:value="${ board.writerName }" disabled>
					</div>
				</div>
				<div class="row py-2">
					<div class="col-12 col-md-3 col-xl-2 text-center">
						<label for="content" class="form-label p-2">내용</label>
					</div>
					<div class="col-12 col-md-9 col-xl-10">
						<textarea rows="6" class="form-control" id="content" name="content" style="resize: none;" th:text="${ board.content }"></textarea>
					</div>
				</div>
				<div class="row py-2">
					<div class="col-12 col-md-3 col-xl-2 text-center">
						<label for="showReply" class="form-label p-2">댓글</label>
					</div>
					<!-- <div class="col-12 col-md-9 col-xl-10">
						<th:block th:replace="fragments/replyList :: replyList(${replyPage})"></th:block>
					</div> -->
					<div class="col-12 col-md-9 col-xl-10">
						<input class="form-control btn btn-outline-secondary mb-3" value="댓글 보기" id="showReply" onclick="showReplies()" readonly>
						<div id="replyBox" class="form-control d-none mb-3"></div>
						<input class="form-control btn btn-outline-secondary mb-3 d-none" value="댓글 더 보기" id="moreReply" onclick="moreReplies()" readonly>
						<input class="form-control btn btn-outline-secondary mb-3 d-none" value="남은 댓글이 없어요" id="noneReply" onclick="moreReplies()" readonly>
						<input class="form-control btn btn-outline-secondary " value="댓글 작성" id="writeReply" readonly>
					</div>
				</div>
				<div class="row py-2">
					<div class="text-end">
						<a th:if="${boardRequest} eq null" >
							<input type="button" class="btn btn-secondary" value="뒤로가기" onclick="history.go(-1)"></a>
						<a th:unless="${boardRequest} eq null" th:href="@{/board/getBoardList(page=${boardRequest.page}, size=${boardRequest.size}, type=${boardRequest.type}, keyword=${boardRequest.keyword})}">
							<input type="button" class="btn btn-secondary" value="목록 보기"></a>
					</div>
				</div>
			</form>
		</div>
		
		<div class="modal" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" style="display: none; background-color: rgba(0,0,0,0.2)" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLiveLabel">댓글 작성</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫다"></button>
					</div>
					<div class="modal-body">
						<p th:text="${param.msg}"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">확인</button>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
				
				$("#writeReply").click( function(){ $(".modal").show();});
				$(".modal button").click( function(){ $(".modal").hide();});
				
			</script>
		</div>
	</th:block>
	
</html>